html {
  font-family: "Chivo Mono", monospace;
  background-color: #1f2937;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(1000px);
}
.bg-black-800 {
  background-color: black;
}

.dark .dark:bg-black-800 {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}
