html {
  background-color: #1f2937;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(1000px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}
